<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="APLICACIONBASEDEDATOS.Properties.Settings.Conexion"
            connectionString="Data Source=marvin-server.database.windows.net,1433;Initial Catalog=ProyectoCursos-DB;Persist Security Info=True;User ID=marvin;Password=ServerDB1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>